<div class="container full-width--false">
    <div class="six columns offset-by-five">
      <div class="one-whole columns">
        {% if type == "single_image" %}        
        	{% if block.settings.selected_image != blank %}
        		{% include 'image-element', image: block.settings.selected_image, alt: block.settings.selected_image.alt %}
        	{% endif %}
        {% endif %}
		{% if type == "single_gif" %}
        	{% if block.settings.selected_gif != blank %}
        		{% comment %}{% include 'image-element', image: block.settings.selected_gif, alt: block.settings.selected_gif.alt %}{% endcomment %}
        		<img src="{{ block.settings.selected_gif }}" />
        	{% endif %}
<!--         https://media.giphy.com/media/l378xcbxNV5QYfygg/giphy.gif -->
        {% endif %}
        {% if type == "single_video" %}
          {% if block.settings.video_url != blank %}
            <video {% if block.settings.autoplay_video %}autoplay{% endif %}
                   {% if block.settings.muted_video %}muted{% endif %}
                   {% if block.settings.video_controls %}controls{% endif %}
                   {% if block.settings.video_in_loop %}loop{% endif %}
                   >
              <source src="{{ block.settings.video_url }}" type="{{ block.settings.video_type }}">
              {% if block.settings.fallback_video_url != blank %}
              <source src="{{ block.settings.fallback_video_url }}" type="{{ block.settings.fallback_video_type }}">
              {% endif %}
              Your browser does not support the video tag.
            </video>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

